:root {
  --bg-color: #0b0c10;
  --card-bg: rgba(255, 255, 255, 0.05);
  --accent-color: #d4af37; /* Oro cálido */
  --accent-hover: #f3c638;
  --text-main: #f0f0f0;
  --text-muted: #a0a0a0;
  --nav-bg: rgba(11, 12, 16, 0.85);
  --transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  overflow-x: hidden;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
  }
  
  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .slide-content h2 {
    font-size: 1.6rem;
  }

  .stats-grid {
    flex-direction: column;
    gap: 1.5rem;
  }
}

